*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.hastane{
    
   
    margin-left: 15px;
    position: fixed;
transition: 0.5s ease;
}
.hastane:hover{
    transform: scale(1.1);

}





    
    




header {
    background-color:rgba(248, 248, 248, 0.6);
    background-position:bottom;
    background-size: 80%;
    height: 80px;
    width: 80%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    width: 100%;
    height: 20vh;
    background-color: #000;
    background: url(YlsJf\ \(2\).gif) ;
    background-position: center;
    background-size: cover;
       
}




.header2{
    background-color: #f3c551;
    width: 100%;
    position:fixed;
    block-size: 100px;
    display:flex;
    
    align-items: center;
    padding: 0px 0px;
    margin-top: 110px;
    height: 150px;
    
    
}



.logo{
    text-decoration: none;
    color: #690505;
    text-transform:capitalize;
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 30px;
   
    
    
    
    
  
    
}

.text {
    position: absolute;
    top: 50%; 
    right: 79%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    color: #387be7;
    text-shadow: 1px 1px 1px #3d98cc,
        1px 2px 1px #ffffff,
        1px 3px 1px rgb(255, 255, 255),
        1px 4px 1px #ffffff,
        1px 5px 1px #ffffff,
        1px 6px 1px #ffffff,
        1px 7px 1px #ffffff,
        1px 8px 1px #ffffff,
        1px 9px 1px #ffffff,
        1px 10px 1px #5aaadc,
        1px 18px 6px #ffffff,
        1px 22px 10px #ffffff,
        1px 25px 35px #ffffff,
        1px 30px 60px rgba(16,16,16,0.4);
}

.tenor-gif-embed{
    
}



.wrapper{
    width: 860px; 
    position: fixed;
    margin-left: 1400px;
    
    
}
    
.wrapper ul{
    list-style: none;
    margin-top: 2%;
}
    .wrapper ul li {
    background-color: rgba(51, 51, 51, 0.489);
    width: 148px;
    border-radius:10px ;
    height: 50px;
    line-height: 48px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 10px;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 999;
    box-shadow: inset 0 0 0 0 rgba(51, 51, 51, 0.489);
    transition: ease-in 0.4s;
    
    outline: none;
    }
    .wrapper ul li:hover{
    background: rgb(0, 0, 0); 
    box-shadow:inset 300px 0 0 0 #000000; 
    cursor: pointer;
    color:rgb(255, 255, 255);
    
    }
    
    .wrapper ul ul{
    display: none;
    }
    .wrapper ul li:hover > ul{
    display: block;
    }
    .wrapper ul ul ul{
    margin-left: 148px;
    top: 0;
    position:absolute;
    }
    



.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
    
    
    
}

.site{
letter-spacing: 8px;
margin-bottom: 10px;
animation: site-anim 3s ease;



}
.istanbul{
    margin-left: 100px;
}




.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #bd2a2a;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 90px;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}





.social-icons a {
    color: rgb(185, 0, 0);
    font-size: em;
    padding-right: px;
    
}
.beyin{
    font-size: x-small;
    font-weight: 50px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight:1.2em;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.renk{
    color: rgb(74, 74, 217);
}

.card {
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
    
}
.astım{
    font-size: small;
}


.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px;
}
.services{
    height: 1000px;
    padding-top: 100px;
   
}
.continer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 30px;
    
}
.more-btn{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: rgb(100, 111, 232);
    border-radius: 6px;
    box-shadow: inset 0 0 0 0 #070578;
    transition: ease-in 0.7s;
    font-size:2rem ;
    outline: none;
    

}
.more-btn:hover{
    box-shadow:inset 300px 0 0 0 #2623c5; 
    cursor: pointer;
    color:#000;

}



.projects {
    background-color: #ffffff;
    margin-bottom: 300px;
    
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow:hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.5em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
    font-size: small;
    box-shadow: inset 0 0 0 0 rgba(51, 51, 51, 0.489);
    transition: ease-in 0.4s;
}

.more-details:hover {
    color: #601cfc;
    background: rgb(255, 255, 255); 
    box-shadow:inset 300px 0 0 0 #bfcdd7; 
    cursor: pointer;
    color:#601cfc;
    border-radius: 6px;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 4em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #295eee;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:400px){
    header{
        padding: 12px 30px;
    }

    .navigation a{
        padding-left: 20px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
@keyframes site-anim{
    0%{
        margin-bottom: -40px;
        letter-spacing: 8px;
    }
    30%{
        margin-bottom: -40px;
        letter-spacing: 40px;
    }
    90%{
        margin-bottom: -40px;
    }
}
