*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.hastane{
    left: 15%;
    position: fixed;
    transition: 0.5s ease;
    margin-bottom: 10px;
    display: flex;
    bottom: 79%;
    
     
    
   
    
}
.hastane:hover{
    transform: scale(1.1);

}


header {
    background-color: rgb(255, 255, 255);
    
    z-index: 999;
    height: 40px;
    width: 40px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    width: 100%;
    height: 160px;
    background-position: center;
    background-size: cover;
       
}



nav{
	position: fixed;
    left: 60%;
    bottom:  85%;
	margin: 270px auto 0;
	width: 590px;
	height: 50px;
	background: rgb(255, 204, 102);
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #b5b7b6;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}

.header2{
    background-color:rgb(255, 204, 102);
    z-index: 99;
    margin-top: 160px;
    height: 100px;
}


.box{

	width: 790px;

	height: 5px;

	background-color: rgb(255, 255, 255);

	border-radius: 30px;

	display: flex;

    position: fixed;

	align-items: center;

	padding: 27px;

    left: 30%;

    top:20%;
    z-index: 999;
    
    
    
   
    
    

}


.box > i {

	font-size: 20px;

	color: rgb(184, 182, 182);
    position: fixed;
}

.box > input{

	flex: 1;
    

	height: 35px;

	border: none;

	outline: none;

	font-size: 18px;

	padding-left: 70px;

    border-radius: 30px;

    background-color: rgb(255, 255, 255);
    
    


}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(hospital\ backround.webp) ;
    opacity: 0.8;
}



.beyin{
    font-size: small;
    font-weight: 60px;
    color:rgb(116, 116, 116);
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(255, 204, 102);
    font-size: 2.2em;
    font-weight:1.2em;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.renk{
    color: rgb(1, 1, 15);
}

.card {
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card:hover {
    transform: scale(1.1);
    
}

.card .icon {
    color: rgb(255, 204, 102);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
    
}
.astım{
    font-size: small;
    color:rgb(116, 116, 116) ;
}


.info h3{
    color: rgb(255, 204, 102);
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px;
}
.services{
    height: 1000px;
    padding-top: 100px;
    background-color: rgb(255, 255, 255);
    
   
}

.button {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
}

.btn {
    background: none;
    border: 1px solid #2c3e50;
    font-size: 18px;
    font-family: "Tahoma", sans-serif;
    text-transform: uppercase;
    padding: 12px 40px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: color 0.4s linear;
    border-radius: 5px;
}

.btn:hover {
    color: rgb(95, 95, 95);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 204, 102);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin:  0;
    
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn1::before {
    transform: scaleX(0);
}

.btn1:hover::before {
    transform: scaleX(1);
}

.btn2::before {
    transform: scaleY();
}

.btn2:hover::before {
    transform: scaleY();
}



.projects {
    background-color: #ffffff;
    z-index: 99;
    
    
    
}

.projects .content{
    
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow:hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.5em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: rgb(255, 204, 102);
    font-size: small;
    box-shadow: inset 0 0 0 0 rgba(51, 51, 51, 0.489);
    transition: ease-in 0.4s;
}

.more-details:hover {
    
    color: #646464;
    background: rgb(255, 204, 102); 
    box-shadow:inset 300px 0 0 0 rgb(255, 204, 102); 
    cursor: pointer;
    
    border-radius: 6px;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #b5b7b6;
    color: #fff;
    padding: 4em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: rgb(255, 204, 102);
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color: rgb(255, 204, 102);
    
}

@media (max-width:400px){
    header{
        padding: 12px 30px;
    }

    .navigation a{
        padding-left: 20px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}


